:root {
  --font-color: #141414;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  scroll-behavior: smooth;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  color: var(--font-color);
}

img{
  width: 100%;
  display: block;
}