.experiencia {
  @include display(grid);
  grid-template-columns: repeat(2,1fr);
  /*gap: 10rem;*/

  .subtitulo{
    color: $font-white;
  }

  .xp-text{
    @include section-text($font-color-ligth-gray);

    strong{
      color: $font-white;
    }
  }

  .empresa{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 2rem;
    background: $font-color-white;
    margin-bottom: 2rem;
    border-radius: .4rem;
    gap: 1rem 2rem;
    position: relative;

    &-ano{
      position: absolute;//position absolute o elemento irá ter o tamanho do contéudo
      top: 30px;
      left: -150px;
      text-align: right;
      //  width: 8rem;
      color: $font-color-white;
      font-size: 1.4rem;
    }

    &-titulo{
      font-size: 1.8rem;
      line-height: 1.1;
      font-weight: 700;
      color: $font-color-black;
    }

    &-texto{
      font-size: 1.4rem;
      line-height: 1.4;
      color: $font-color-gray  ;
    }

    &-habilidades{
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      align-content: start;

      li{
        font-size: 1.4rem;
        line-height: 1.4;
        border-radius: .4rem;
        background: $font-color-black;
        padding: .5rem 1rem;
      }
    }

    &::before{
      @include item-before(-4px);
      top: 30px;
    }

    @media (max-width: 40rem){
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 80rem){
    grid-template-columns: 1fr;
    gap: 4rem;

    .xp-text{
      font-size: 2rem;
    }

    .empresa-ano{
      position: initial;
      order: 1; //ordem de exibição do item, se não tiver order o elemento por padrão é zero
      width: initial;
      text-align: left;
      color: $font-color-gray;

      &::before{
        content: 'Período: ';
      }
    }
  }
}