//Variables - colors and fonts
$bg-color: #000;
$bg-formacao: #252525;
$font-color-black: #141414;
$font-color-gray: #525252;
$font-color-formacao: #8f8f8f;
$font-color-ligth-gray: #e0e0e0;
$font-color-dark-gray: #a3a3a3;
$font-color-white: #f5f5f5;
$font-color-green-gradient: linear-gradient(#b6f829,#67dd0a);
$font-white: #fff;
$font-size: 10px;

//Global - Reset Css
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  scroll-behavior: smooth;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: $font-size;
  background: $bg-color;
  color: $font-color-white;
}

img{
  max-width: 100%;
  display: block;
}

.subtitulo{
  font-size: 12.8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;

  @media (max-width: 80rem){
    font-size: 4.8rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}

//Mixins
@mixin display($display){
  max-width: 120rem;
  padding: 4rem 2rem;
  margin: 0 auto;//alinha ao centro quando o width ultrapassar o max-width
  display: $display;
}

@mixin section-text($cor){
  font-size: 2.4rem;
  line-height: 1.33;
  max-width:  40ch;
  margin-bottom: 6rem;
  color: $cor;
}

@mixin item-before($left){
  content: '';
  position: absolute;
  left: $left;
  display: block;
  width: .4rem;
  height: 2rem;
  background: $font-color-green-gradient;
}

@mixin form-padrao($border-r){
  border: none;
  outline: none;
  padding: 1rem 2rem;
  margin: 1rem 0;
  font-size: 1.6rem;
  border-radius: $border-r;
}