.header{
  @include display(flex);
  justify-content: space-between;
  align-items: center;

  .header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    a {
      font-size: 1.8rem;
      line-height: 1.3;
      color: $font-color;
      padding: 1rem 2rem; //Padding em links aumenta a aréa de clique
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;

    .header-menu a {
      background-color: $font-color-white;
      border-radius: .4rem;
    }
  }

  @media (max-width: 620px) {
    .header-menu{
      flex-direction: column;
      gap: 4rem;
      align-items: center;
    }
  }
}
